<section>
    {{render '@pageheader-dots' pageheaderDots }}
</section>
<section>
    <div class="container">
        <section>
            {{render '@intro-box' }}
        </section>        
        <section>
            {{> '@heading-page' aboutBoxes }}
            <hr>
            {{> '@paragraph' aboutBoxesParagraph }}
            {{render '@about-boxes' }}
        </section>
        <section>
            {{> '@heading-page' primaryBoxes }}
            <hr>
            {{> '@paragraph' primaryBoxesParagraph }}
            {{render '@primary-boxes' }}
        </section>
        <section>
            {{> '@heading-page' listPage }}
            <hr>
            {{> '@paragraph' listPageParagraph }}
            {{render '@list-page' }}
        </section>
    </div>    
</section>
