<section>
    {{render '@pageheader-dots' pageheaderDots }}
</section>
<section>
    <div class="container">
        {{render '@intro-box' }}
    </div>
</section>
<section>
    <div class="container">
        {{> '@heading-page' aboutBoxes }}
        <hr>
        {{> '@paragraph' aboutBoxesParagraph }}
    </div>
    {{render '@about-boxes' }}
</section>
<section>
    <div class="container">
        {{> '@heading-page' primaryBoxes }}
        <hr>
        {{> '@paragraph' primaryBoxesParagraph }}
    </div>
    {{render '@primary-boxes' }}
</section>
<section>
    <div class="container">
        {{> '@heading-page' listPage }}
        <hr>
        {{> '@paragraph' listPageParagraph }}
    </div>
    {{render '@list-page' }}
</section>
